.about {
  display: flex;
  background-color: #0a2850;
  position: relative;
  justify-content: space-between;
  align-items: baseline;
  overflow: hidden;
  color: #fff;
}

.about__title {
  position: relative;
  margin-top: 100px;
  margin-bottom: 0;
  margin-left: 80px;
  max-width: 251px;
  z-index: 1;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
  max-width: 660px;
  margin-top: 119px;
  margin-bottom: 173px;
  margin-right: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  z-index: 1;
}

.about__paragraph {
  margin-top: 20px;
  margin-bottom: 0;
}

.about__paragraph:first-child {
  margin-top: 0;
}

.about__circle {
  width: 426px;
  height: 426px;
  background-color: #1878dc;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -152px;
  z-index: 0.9;
}

.about__circle_animation_blurred {
  width: 426px;
  height: 426px;
  background-color: #1878dc;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -152px;
  z-index: 0.9;
  animation: pulsate 1.3s ease-in-out 0s infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}
