.form {
  max-width: 385px;
}

.form__fieldset {
  border: none;
  padding: 0;
  width: 100%;
  margin: 0;
}

.form__label {
  display: block;
  color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  display: block;
  margin-top: 8px;
  margin-bottom: 32px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #838383;
  padding: 15px 20px;
  width: 385px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  display: block;
  border-radius: 4px;
  background-color: #1878dc;
  color: #fff;
  box-sizing: border-box;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 0.4s;
  margin-bottom: 32px;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  accent-color: #1878dc;
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-bottom: 120px;
}
