.nav {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0 80px 0 30px;
  padding-top: 30px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__logo {
  display: flex;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: black;
}

.nav__link:hover {
  animation: fade 0.4s ease forwards;
}

@keyframes fade {
  from {
    opacity: 100%;
  }
  to {
    opacity: 50%;
  }
}
