@import url(/blocks/page.css);
@import url(/blocks/header.css);
@import url(/blocks/nav.css);
@import url(/blocks/content.css);
@import url(/blocks/recipes.css);
@import url(/blocks/reservation.css);
@import url(/blocks/form.css);

.menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url(/images/background_menu.svg);
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 800px;
  position: relative;
}

.menu__title {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 0;
}

.menu__subtitle {
  text-align: center;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 0;
}

.menu__cards {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex column;
  gap: 100px;
}

.card__title {
}

.card__list {
  list-style: none;
  padding-left: 0;
}

.card__list-item {
  margin-top: 16px;
}

.card__list-item:first-child {
  margin-top: 32px;
}
